:root {
  --title-text-color: #212121;
  --secondary-background-color: #f5f4fa;
  --primary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-font: "Roboto";
  --secondary-font: "Raleway";
}

body {
  color: var(--title-text-color);
  font-family: var(--primary-font), sans-serif;
  background-color: #ffffff;
}

address {
  font-style: normal;
}

ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
/* site nav, header contacts */
.site-nav .link,
.contacts-header .link:hover,
.site-nav .link,
.contacts-header .link:focus {
  color: var(--accent-color);
}

.site-nav .link,
.contacts-header .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.site-nav .link.current {
  color: var(--accent-color);
}

/* footer contacts 
.footer-contacts .location,
.footer-contacts .foot-mail,
.footer-contacts .foot-phone {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.footer-contacts .location {
  color: #ffffff;
}

.footer-contacts .foot-mail,
.footer-contacts .foot-phone {
  color: rgba(255, 255, 255, 0.6);
}
footer {
  position: absolute;
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 2097px;
  background: #2f303a;
}
*/
