/* Палитра

  --title-text-color: #212121;
  --secondary-background-color: #f5f4fa;
  --primary-text-color: #757575;
  --accent-color: #2196f3;

*/

/* hero ===studio=== */
.hero .hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* секции ===studio===*/
.section-title.hiden {
  visibility: hidden;
}
.section-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.text {
  color: var(--primary-text-color);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.section .team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.section .team-post {
  color: var(--primary-text-color);
  font-weight: normal;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

/* кнопки портфолио */
.btn-group .current {
  background-color: var(--accent-color);
  color: #ffffff;
}

.btn-group .button,
.current {
  background: var(--secondary-background-color);
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
}
/* секции ===portfolio===*/
.section .port-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.section .port-line {
  color: var(--primary-text-color);
  font-weight: normal;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}
